
$main-color: #633778
$second-color: #ff5656

.none
	transform: translate(0px, 120%)	

=btn_hover 
	&:hover 
		background-image: none 
		background-color: $main-color

*, .more_link 
	font-family: 'Roboto', sans-serif
	font-weight: 200
h2, h3, .colortext, a, li, .services_title
	font-family: 'Heebo', sans-serif
p
	text-align: justify	

header
	position: relative
	.container
		font-size: 13px
	.firstheader
		display: block
		height: 78px
		background: rgba(202, 193, 213, 1);
		font-size: 15px
		box-shadow: 0 0 10px rgba(0,0,0,0.2)
		&_phone
			margin-top: 20px
			&::before
				content: ''
				position: absolute
				width: 26px
				height: 26px
				left: -11px
				top: 24px
				background: url(../icons/phone.png) center center no-repeat
		&_ort
			margin-top: 28px
			text-align: center
		&_adress
			margin-top: 20px	
			&::before
				content: ''
				position: absolute
				width: 26px
				height: 26px
				left: -17px
				top: 24px
				background: url(../icons/novigation.png) center center no-repeat
		&_time
			margin-top: 20px
			&::before
				content: ''
				position: absolute
				width: 26px
				height: 26px
				left: -18px
				top: 24px
				background: url(../icons/time.png) center center no-repeat		

nav
	width: 100%
	height: 110px
	background-color: #fff
	z-index: 5
	background: rgba(255,255,255,0);
	position: absolute
.menu
	display: flex
	justify-content: space-between
	padding: 46px 0 
	margin: 0
	list-style-type: none
	z-index: 2
	&_logo
		margin: 0 20px 0
	&_item1
		position: relative
		display: block
		&:hover .menu_link_btn_content
			position: absolute
			display: block
			transition: all 1s ease-out
		&:hover .menu_link_btn
			position: relative
			text-decoration: none
			border-bottom: 3px solid
			padding-bottom: 11px
			color: #633778
			transition: all 0.3s ease, color 0.3s;
	&_link
		position: relative
		display: block
		border: none
		margin-right: 45px
		padding: 15px 0 
		color: #212121
		font-family: 'Heebo', sans-serif
		font-size: 25px
		font-weight: 500
		&:hover
			text-decoration: none
			border-bottom: 3px solid
			padding-bottom: 11px
			color: #633778
		&_btn
			padding: 15px 0 15px 
			margin-right: 15px
			border: none
			color: #212121
			font-family: 'Heebo', sans-serif
			font-size: 25px
			font-weight: 500
			background: rgba(255,255,255,0)
			&_content
				display: none
    			background: rgba(255,255,255,0.3)
				line-height: 34px
				padding-top: 15px
				width: 1000px
				z-index: 1
				text-align: left
				&_sub
					color: black
					font-size: 20px
    				text-decoration: none
					&:hover
						/** font-weight: bold **/
						text-decoration: none
						border-bottom: none
						padding-bottom: 1px
						color: #633778


.promo
	width: 100%
	height: 793.33px
	background: url('../img/bg/background.jpg') center (center/cover) no-repeat
	margin-top: -40px
	padding: 120px 0

.container
	box-sizing: border-box
	height: 100%
	color: #444
	font-size: 1rem
	line-height: 1.5
.wrapper
  height: 100%
  margin: 200px 0 -100px 0 
  position: relative
  width: 100%

.slider
  height: 400px
  overflow: hidden
  position: relative
  width: inherit
  h2
	  left: 135.28px
	  top: 395.28px
	  font-weight: 700
	  margin-right: -70px
	  font-size: 60px
 	  line-height: 111.19%
	  text-transform: uppercase
	  letter-spacing: -0.025em
	  color: rgba(0, 0, 0, 0.9);
  p
	  color: #000000
	  font-size: 27px
	  margin-right: 200px
	  /** max-width: 750px  **/
.slides
  opacity: 0
  position: absolute
  width: inherit
  z-index: 0
  margin-top: 40px
  -webkit-transform: translateX(3in)
  -moz-transform: translateX(3in)
  -o-transform: translateX(3in)
  transform: translateX(3in)
  -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s 
  -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s
  -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s
  transition: transform ease-in-out .5s, opacity ease-in-out .5s
  animation-duration: 3s
  animation-name: slidein
  animation-iteration-count: infinite

  &_btn
	  display: block
	  width: 368.98px;
	  height: 70.71px;
	  left: 536.51px;
	  top: 598.12px;
	  margin: 40px 0 0 340px
	  border: none
	  background: #633778
	  border-radius: 180px
	  font-size: 37px
	  line-height: 30px
	  text-transform: uppercase
	  color: #FFFFFF
	  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.13)
	  box-shadow: 0 0 4px rgba(0,0,0,1.5)
	  font-weight: 100  
	  line-height: 140%
	  font-size: 27px
	  text-transform: uppercase
	  color: #FFFFFF
	  font-weight: 100  
	  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.13)
	  &:hover
		  content: ''
		  width: 465.87px
		  height: 155.58px
		  left: 120.45px
		  top: 570px
		  font-weight: 100
		  transition: 0.5s	
	  &:hover:after
		  content: '\A +7 (4752) 72-96-95\A +7 (4752) 72-96-95'
		  white-space: pre
		  transition: 0.5s
		  font-weight: 300
		  font-size: 24px
		  line-height: 140%
		  letter-spacing: 0.04em
		  font-variant: small-caps



#slide1:checked ~ .slider > .slide1, #slide2:checked ~ .slider > .slide2, #slide3:checked ~ .slider > .slide3, #slide4:checked ~ .slider > .slide4, #slide5:checked ~ .slider > .slide5
  opacity: 1
  z-index: 1
  -webkit-transform: scale(1)
  -moz-transform: scale(1)
  -o-transform: scale(1)
  transform: scale(1)

.wrapper
  > input
    display: none

  .controls
    left: 50%
    margin-left: -98px
    position: absolute

  label
    cursor: pointer
    display: inline-block
    height: 20px
    margin: 37px 23px 0 16px
    position: relative
    width: 20px
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    -o-border-radius: 50%
    border-radius: 50%
    -webkit-transition: background ease-in-out .5s
    -moz-transition: background ease-in-out .5s
    -o-transition: background ease-in-out .5s
    transition: background ease-in-out .5s

    &:hover
      background: #ddd

#slide1:checked ~ .controls label:nth-of-type(1), #slide2:checked ~ .controls label:nth-of-type(2), #slide3:checked ~ .controls label:nth-of-type(3), #slide4:checked ~ .controls label:nth-of-type(4), #slide5:checked ~ .controls label:nth-of-type(5)
  background: #ddd
  

.wrapper label:after
  border: 2px solid #ddd
  content: " "
  display: block
  height: 28px
  left: -4px
  position: absolute
  top: -4px
  width: 28px
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  -o-border-radius: 50%
  border-radius: 50%



.clinic
	background: linear-gradient(to left, rgba(200, 188, 217, 0.39) 50%, transparent 50%)
	width: 100%
	min-height: 871px
	&_about
		display: inline-block
		float: left
		width: 51%
		text-align:justify
.title	
	position: relative
	margin-bottom: 0
	margin-top: 103px
	color: #222222
	font-size: 35px
	line-height: 46px
	font-weight: 700
	text-transform: uppercase
	text-align: left
.colortext
	margin-bottom: 0
	margin-top: 103px
	color: #222222
	font-size: 35px
	line-height: 46px
	font-weight: 700
	text-transform: uppercase
	text-align: left
	color: #694382	
.director
	/** background: rgba(200, 188, 217, 0.39); **/
	float: right
	width: 49%
    margin: 100px 50px
    text-align: justify
    display: inline-block
	p
		margin: 103px 0 125px 153px
		font-weight: 200
		font-size: 21px
		line-height: 35px
		text-align: justify
		letter-spacing: -0.02em
		color: #000000
	.doctor
		float: inherit
		justify-content: center
		margin-top: 64px
		font-weight: 500
		font-size: 19px
		line-height: 32px
		letter-spacing: 0.09em
		color: #000000
.link_authorities
	margin-top: 80px
	padding-left: 20px
	a
		color: #CFC9DA
		font-weight: 500
		font-size: 15px
		line-height: 23px
		text-align: center
		letter-spacing: 0.065em
		&:hover
			text-decoration: none
			color: #694382
			transition: 0.6s all
	li
		list-style-image: url('../icons/arrowul.png')
		&:hover
			content: '' 
			list-style-image: url('../icons/arrowrl.png')

.clinic_slider
	margin: 325px auto 126px 				
  
.services
	width: 100% 
	min-height: 846px
	margin-right: 
	padding: 65px 5px 79px 0
	&_title
		text-align: center
		padding: 0 0 43px 10px
		font-weight: 700
		font-size: 42px
		line-height: 46px
		letter-spacing: -0.025em
		text-transform: uppercase
		color: rgba(0, 0, 0, 0.9)	
.link_sevice
	padding-left: 65px
	&_hygiene
		padding-left: 45px
		
.service_item
	position: relative
	background: #E6DDEF
	position: relative
	width: 290px
	height: 280px
	margin: 0
	&_therapy
		position: absolute
		background: #EFECF4
		position: relative
		width: 290px
		height: 280px
		margin: 0
		right: 18px
		h3
			font-size: 25px
			font-weight: 500
			line-height: 37px
			text-transform: uppercase
			margin-bottom: 30px
		li
			font-weight: 500
			font-size: 13px
			line-height: 20px
			letter-spacing: 0.06em
			margin-bottom: 8px
			padding-right: 40px
			color: rgba(74, 66, 82, 0.76)
			list-style-image: url('../icons/arrowblack.png')		
	&_hygiene
		position: absolute
		background: #EFECF4
		position: relative
		width: 290px
		height: 280px
		margin: 0
		right: 28px	
		h3
			font-size: 21px
			font-weight: 500
			line-height: 31px
			padding-bottom: 5px 
			text-transform: uppercase
			
		li
			font-weight: 500
			font-size: 13px
			line-height: 13px
			letter-spacing: 0.06em
			margin-bottom: 13px
			color: rgba(74, 66, 82, 0.76)
			list-style-image: url('../icons/arrowblack.png')		
	&_white
		position: absolute
		background: #EFECF4
		position: relative
		width: 290px
		height: 280px
		margin: 0
		right: 10px	
		h3
			font-size: 25px
			font-weight: 500
			line-height: 37px
			text-transform: uppercase
		li
			font-weight: 500
			font-size: 13px
			line-height: 20px
			letter-spacing: 0.06em
			margin-top: 38px
			margin-bottom: 13px
			color: rgba(74, 66, 82, 0.76)
			list-style-image: url('../icons/arrowblack.png')						
	&_subtitle
		text-align: center
		padding: 38px 0 0 0 
	h3
		font-size: 25px
		font-weight: 500
		line-height: 37px
		text-transform: uppercase
		margin-bottom: 20px
	li
		font-weight: 500
		font-size: 13px
		line-height: 20px
		letter-spacing: 0.06em
		margin-bottom: 13px
		color: rgba(74, 66, 82, 0.76)
		list-style-image: url('../icons/arrowblack.png')
.service_button
	position: absolute
	bottom: 1px
	width: 197px
	height: 36px	
	background: rgba(105, 67, 130, 0.61)
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1)
	border: none
	border-radius: 48px
	margin: 0 41px 41px 45px 
	font-weight: bold
	font-size: 14px
	line-height: 22px
	letter-spacing: 0.065em
	color: #FFFFFF
	&:hover
		content: ''
		background: #896F9B
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1)	
		transition: 0.3s all

.doctors
	/** width: 532px; **/
	height: 841.47px;
	left: 0px;
	top: 2582.33px;
	&_text
		width: 700px
		height: 532px
		background: rgba(170, 146, 189, 0.35)
		padding: 48px 0 0 132px
		h2
			font-weight: 700
			font-size: 42px
			line-height: 109.2%
			letter-spacing: -0.025em
			text-transform: uppercase
			color: #7A648A
		p
			margin: 34px 230px 0 0
			font-weight: 200
			font-size: 18px
			line-height: 31px
			text-align: justify
			letter-spacing: 0.015em	
	&_guarantees /** здесь как-то через очко, очки и тапочки **/
		position: absolute
		width: 466px
		height: 635px
		left: 1052px
		top: 2753px
		background: rgba(230, 221, 239, 0.62)
		p
			font-weight: 200
			font-size: 18px
			line-height: 31px
			text-align: justify
			letter-spacing: 0.015em
			color: #7A648A
			margin: 26px 190px 0 24px   

.information
	width: 100%
	height: 671.23px
	position: relative
	z-index: 1
	.nav_left
		position: absolute
		img
			padding: 95px 0 0 164px 
	.nav_right
		position: absolute
		right: 19%
		top: 70px
		img
	.title
		margin: 73px 0 52px 0
	.clinic_rileeva
		position: absolute
		left: 58%
		list-style-type: none
	.clinic_chichkanova
		position: absolute
		list-style-type: none
		left: 20%	
	.clinic_rileeva, .clinic_chichkanova
		li
			margin: 32px 0 32px 0 
			font-size: 20px
			line-height: 28px
			text-align: justify
			letter-spacing: -0.025em
			color: #000000
		.icon
			margin-left: -40px
		.world_link
			font-family: Roboto
			font-style: normal
			font-weight: 300
			text-transform: uppercase
			color: #000000
			text-decoration: none
			&:hover
				text-decoration: none
				color: #633778
				font-weight: 700
				transition: all 
		.small_link	
			font-family: Roboto
			font-style: normal
			font-weight: 200
			text-decoration: none
			color: #000000
			font-size: 20px
			line-height: 29px
			text-align: justify
			letter-spacing: -0.015em
			&:hover
				text-decoration: none
				font-weight: 300
				color: #633778
				transition: all
		.more_link
			text-decoration: none
			font-size: 15px
			line-height: 26px
			text-align: justify
			letter-spacing: 0.015em
			color: #695971
			


.service_logo
	position: relative 
	width: 161px
	height: 280px
	img
		padding: 100px 0 0 44px
.service_logo_up
	img
		padding: 100px 0 0 64px		
	&_item 
		position: relative
		width: 320px
		height: 280px
		margin: 0 auto
		margin-bottom: 19px
		padding-top: 92px
		&_1
			background: url('../img/bg/mobile_screen_1.jpg') center (center / cover) no-repeat
		&_2
			background: url('../img/bg/mobile_screen_2.jpg') center (center / cover) no-repeat
		&_3
			background: url('../img/bg/mobile_screen_3.jpg') center (center / cover) no-repeat
		&_4
			background: url('../img/bg/mobile_screen_4.jpg') center (center / cover) no-repeat
		&_5
			background: url('../img/bg/mobile_screen_5.jpg') center (center / cover) no-repeat
		&_6
			background: url('../img/bg/mobile_screen_6.jpg') center (center / cover) no-repeat
		&_subtitle
			color: #ffffff
			font-size: 24px
			font-weight: 400
			line-height: 31px
			text-transform: uppercase
			text-align: center
		&_plus
			display: flex 
			justify-content: center
			align-items: center
			position: absolute
			bottom: 35px
			left: 50%
			transform: translateX(-50%)
			width: 26px
			height: 26px
			background-color: #000000
			margin: 0 auto
			border-radius: 100%
			cursor: pointer
			&:before
				content: ''
				display: block
				width: 14px 
				height: 2px 
				background-color: $main-color
				transition: 0.3s all
			&:after 
				content: ''
				position: absolute 
				left: 50%
				transform: translateX(-50%)
				display: block 
				height: 14px
				width: 2px
				background-color: $main-color
				transition: 0.3s all
			&:hover 
				&:before, &:after 
					background-color: $second-color



footer 
	/** padding: 0 23px 0 23px **/
	background: #CAC1D5

.footer
	&_wrapper
		display: flex 
		justify-content: space-between
		align-items: flex-start
		padding-top: 26px
	&_social
		width: 120px
		display: flex
		justify-content: center
		margin-left: 145px
		margin-bottom: 15px
		&_copyright
			font-size: 10px;
			font-weight: 300
			line-height: 12px;
			font-variant: small-caps;
			color: #090909;
	&_links
		width: 257px
		margin: 0 auto
		line-height: 12px;
		font-variant: small-caps;
		color: #090909;
		margin-left: 135px
		&_main_text
			font-weight: 300;
			font-size: 10px;
			line-height: 12px;
			font-variant: small-caps;
			text-align: center

	&_mobile
		width: 632px
		margin: -3px auto
		line-height: 12px;
		font-variant: small-caps;
		color: #090909;
		&_text
			font-weight: 300
			font-size: 10px;
			line-height: 12px;
			text-align: justify;
			font-variant: small-caps;
			color: #000000;

.back_to_top
  position: fixed
  bottom: 80px
  right: 50px
  z-index: 9999
  width: 30px
  height: 30px
  text-align: center
  line-height: 30px
  color: rgba(143, 128, 153, 0.69)
  cursor: pointer
  border-radius: 2px
  display: none
  &:hover
   color: rgba(143, 128, 153, 0.69)
.back_to_top-show
  display: block

